<section>

<section>
    <div class="container">
        <h1 class="title">{{article.title}}</h1>
        <p>{{stripTags article.content}}</p>
        <img src="{{article.image}}">
    
        <div class="control">
            <a class="button is-link" href="/articles/modif" style="margin : 20px 80px">Modifier</a>
        </div>
        </div>
</section>


