[Desktop Entry]
Version=1.0
Type=Link
Name=Résultat de recherche d'images pour "colibri" 1120 × 630 
Comment=
Icon=user-bookmarks
URL=https://www.google.com/imgres?imgurl=https%3A%2F%2Fgeo.img.pmdstatic.net%2Ffit%2Fhttp.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fgeo.2F2019.2F11.2F18.2Fed186dca-e810-423a-9eb0-05e9050e23db.2Ejpeg%2F1120x630%2Fbackground-color%2Fffffff%2Fquality%2F90%2Fles-5-infos-a-savoir-sur-le-colibri.jpg&imgrefurl=https%3A%2F%2Fwww.geo.fr%2Fenvironnement%2Fles-5-infos-a-savoir-sur-le-colibri-198652&docid=f3QeBMOnlwY00M&tbnid=3jHOqTb8OHYfEM%3A&vet=10ahUKEwinoKf7p7_mAhUHxYUKHaIFAZYQMwhJKAMwAw..i&w=1120&h=630&client=ubuntu&bih=918&biw=843&q=colibri&ved=0ahUKEwinoKf7p7_mAhUHxYUKHaIFAZYQMwhJKAMwAw&iact=mrc&uact=8
